.navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #282c34;
    width: 100%;
    min-height: 30px;
}

.navbar_logo {
    height: 70px;
    width: auto;
    padding: 0.5rem;
}

.navbar_title {
    color: gainsboro;
    font-size: 25px;
}

.navbar_links {
    width: 100%;
    position: absolute;
    left: -5%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar_home_link, .navbar_admin_link {
    text-decoration: none;
    color: gainsboro;
    font-size: 16px;

    margin: 0 0 0.5rem 0.5rem;
}

.navbar_home_link:hover {
    color: aqua;
    font-size: 18px;
}

.navbar_admin_link:hover {
    color: dodgerblue;
    font-size: 18px;
}

@media screen and (max-width: 670px) {
    .navbar_title {
        display: none;
    }
}

@media screen and (max-width: 225px) {
    .navbar_logo {
        display: none;
    }
}